---
// if (!import.meta.env.DEV) {
//     throw new Response(null, {status:404});
// }
import BaseLayout from "../layouts/BaseLayout.astro";
import "../assets/styles/style.css"


---
<BaseLayout>
    <h1>Weather Playground</h1>
    
    <label>
      Hue shift
      <input type="range" min="-20" max="20" value="0"
        oninput="document.documentElement.style.setProperty('--hue-shift', `${this.value}deg`)"
      />
    </label>
</BaseLayout>

<style>
    :root {
    --hue-base: 210;
    --hue-shift: 0deg;

    --temp-warmth: 0;        /* -1 → 1 */
    --light-level: 1;       /* 0.8 → 1.1 */
    --contrast-level: 1;    /* 0.9 → 1.05 */
    }


    :root {
    --bg-h: calc(var(--hue-base) + var(--hue-shift));
    --bg-s: 10%;
    --bg-l: calc(96% * var(--light-level));

    --text-l: calc(15% * var(--contrast-level));
    }
    body { 
    background: hsl(var(--hue-shift), 10%, 90%);
    color: midnightblue;
    }
</style>