<footer class="home-footer">
    <ul>
        <li><a href="https://github.com/elbi3">Github</a></li>
        <li><a href="https://www.linkedin.com/in/el-brewster/">LinkedIn</a></li>
    </ul>
</footer>

<style>
    .home-footer {
        background-color: inherit;
    }

    ul {
        display: flex;
        align-items: start;
    }
</style>