<header class="home-header">
    <h1>Plant Kennel</h1>
</header>

<style>
    .home-header {
        height: 10vh;
        background-color: rgb(154, 154, 154);
        color: rgb(3, 30, 36);
    }
    
    h1 {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-style: bold;
        font-size: 2rem;
    }
</style>