---
import PaintingsGrid from "../components/PaintingsGrid.astro";
// import Dice from "../components/Dice.vue";
---

<main>
    <!-- <Dice client:visible /> -->
    <PaintingsGrid />
</main>


<style>
    
</style>