---
import { Icon } from "astro-icon/components";

const { time, weather, icon } = Astro.props;
console.log("time prop: ", time);
console.log("weather prop: ", weather);
// console.log("fetchedWeatherData.main.temp in WeatherNav: ", fetchedWeather);
console.log("icon prop in WeatherNav", icon);

---

<nav>
    <ul>
        <li>
            <a href="/about">about</a>
        </li>
        <li>
            <p>time calc: {time}</p>
            <p>weather calc: {weather}</p>
        </li>
        <li>
            <Icon name="mdi:weather-night-partly-cloudy" class="nav-weather-icon" />
        </li>
        <li>
            <Icon name={icon} class="nav-weather-icon" />
        </li>
    </ul>

</nav>

<style>
    ul {
        display: flex;
        align-items: start;
        gap: 3ch;
    }

    li {
        list-style: none;
    }
</style>