---
// import astroLogo from '../assets/astro.svg';
// import background from '../assets/background.svg';
import PaintingsGrid from "../components/PaintingsGrid.astro";
---
<h1>Plant Kennel</h1>
<div>
    <PaintingsGrid />
</div>
<style></style>