/* CSS reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font: inherit;
}
 /*prevent font size inflation*/
 /*color scheme dark*/
html {
  color-scheme: dark light;
  text-size-adjust: none; 
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
}

body {
  min-height: 100vh;
  background-color: rgb(3, 30, 36);
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

p,
li,
figcaption {
  text-wrap: pretty;
  max-width: 65ch;
}

img, picture, svg, video {
  display: block;
  max-width: 100%;
}

header, footer, main, section, article {
  container-type: inline-size;
}

body, h1, h2, h3, h4, p, figure, blockquote, dl, dd {
  margin-block-end: 0;
}

h1, h2, h3, h4, button, input, label {
  line-height: 1.1;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

input, button, textarea, select {
  font-family: inherit;
  font-size: inherit;
}

textarea:not([rows]) {
  min-height: 10em;
}

:target {
  scroll-margin-block: 5ex;
}

/* -------end-reset------------------------ */

.dice-button {
  border: 1px solid white;
  border-radius: .25rem;
  background: none;
  border: none;
  color: inherit;
  padding: 0;
  margin: 0;
} 

/* -------root-tooling?----------------------*/
/* :root {
  --hue-base: 210;
  --hue-shift: 0deg;

  --temp-warmth: 0;        /* -1 → 1 */
  --light-level: 1;       /* 0.8 → 1.1 */
  --contrast-level: 1;    /* 0.9 → 1.05 */
} */

:root {
  --bg-h: calc(var(--hue-base) + var(--hue-shift));
  --bg-s: 10%;
  --bg-l: calc(96% * var(--light-level));

  --text-l: calc(15% * var(--contrast-level));
}