/* CSS reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font: inherit;
}
 /*prevent font size inflation*/
 /*color scheme dark*/
html {
  color-scheme: dark light;
  text-size-adjust: none; 
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
}

body {
  min-height: 100vh;
  background-color: rgb(3, 30, 36);
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

p,
li,
figcaption {
  text-wrap: pretty;
  max-width: 65ch;
}

img, picture, svg, video {
  display: block;
  max-width: 100%;
}

header, footer, main, section, article {
  container-type: inline-size;
}

body, h1, h2, h3, h4, p, figure, blockquote, dl, dd {
  margin-block-end: 0;
}

h1, h2, h3, h4, button, input, label {
  line-height: 1.1;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

input, button, textarea, select {
  font-family: inherit;
  font-size: inherit;
}

textarea:not([rows]) {
  min-height: 10em;
}

:target {
  scroll-margin-block: 5ex;
}

/* -------end-reset------------------------ */

