/* CSS reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font: inherit;
}
 /*prevent font size inflation*/
 /*color scheme dark*/
html {
  /* color-scheme: dark light; */
  text-size-adjust: none; 
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
}

body {
  min-height: 100vh;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

p,
li,
figcaption {
  text-wrap: pretty;
  max-width: 65ch;
}

img, picture, svg, video {
  display: block;
  max-width: 100%;
}

header, footer, main, section, article {
  container-type: inline-size;
}

body, h1, h2, h3, h4, p, figure, blockquote, dl, dd {
  margin-block-end: 0;
}

h1, h2, h3, h4, button, input, label {
  line-height: 1.1;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

input, button, textarea, select {
  font-family: inherit;
  font-size: inherit;
}

textarea:not([rows]) {
  min-height: 10em;
}

:target {
  scroll-margin-block: 5ex;
}

/* -------end-reset------------------------ */



/* -------root-tooling?----------------------*/
:root { 
/* Base pigments */
  --primary-bg-dk-mode: midnightblue;
  --primary-bg-lt-mode: aliceblue;
  --primary-text-dk-mode: aliceblue;
  --primary-text-lt-mode: midnightblue;
  --secondary-bg-dk-mode: indigo;
  --secondary-text-dk-mode: whitesmoke;
  --secondary-bg-lt-mode: darkslateblue;
  --secondary-text-lt-mode: whitesmoke;
  --accent: slateblue;
  --accent-lighter: mediumslateblue;
  --accent-pink: mediumorchid;
  --accent-lav: mintcream;
}

/* daytime changes are with bg, fg, contrast. bg/fg are base pigments. */
html[data-time="dusk"],
html[data-time="night"] {
  background-color: var(--primary-bg-dk-mode);
  color: var(--primary-text-dk-mode);
}

html[data-time="morning"],
html[data-time="dawn"],
html[data-time="afternoon"] {
  background-color: var(--primary-bg-lt-mode);
  color: var(--primary-text-lt-mode)
}

/* html[data-weather="cloudy"] {
  --contrast: calc(var(--contrast) * 0.9);
  --saturation: calc(var(--saturation) * 0.95);
} */

/* weather modulates with contrast and saturation */
/* contrast is value compression, and saturation is chroma strength */
/* okay to add opacity for atmosphere thickness, and blur for air moisture later */
/* html[data-weather="rain"] {
  --sky-lightness: 75%;
  --accent-alpha: 0.3;
} */


/* -----nav-and-weather-icons------------------ */
nav {
  min-height: 5vh;
  background-color: mediumslateblue;
}
.nav-lt-mode {
  background-color: var(--secondary-bg-lt-mode);
  color: var(--secondary-text-lt-mode);
  padding: .5rem;
}
.nav-dk-mode {
  background-color: var(--secondary-bg-dk-mode);
  color: var(--secondary-text-dk-mode);
  padding: .5rem;
}

.nav-weather-icon {
  color: var(--accent-lav);
  width: 2.5em;
  height: 2.5em;
}

.home-header {
  display: flex;
  flex-direction: row;
  max-height: 10vh;
}

.a-tag-icon {
  color: var(--accent-lav);
}